figure {
	padding: 50px;
}
figcaption {
	font-family: courier;
	padding-left: 50px;
}
#link {
  font-family: courier;
  padding-left: 50px;
}
 #GB {
 	background-color: #12171a;
 }
h1 {
	font-family: courier;
	color: #ffffff;
	padding-left: 100px;
}
#black {
	color: #000000;
	padding-left: 100px;
	font-family: courier;
}
#white {
	font-kerning: 50%;
	color: #ffffff;
	font-family: courier;
}
#acid {
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/71/f6/0a/71f60a1c0601a80f22b252ca43cc59f8.jpg)
}