figure {
	padding: 50px;
}
figcaption {
	font-family: courier;
	padding-left: 50px;
}
#link {
  font-family: courier;
  padding-left: 50px;
}
 #GB {
 	background-color: #12171a;
 }
h1 {
	font-family: courier;
	color: #ffffff;
	padding-left: 50px;
}
#white {
	font-kerning: 50%;
	color: #ffffff;
	font-family: courier;
}